html {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
}

nav {
  height: 56px;
  border-bottom: 1px solid #e9e9e9;
}

.brand {
  line-height: 56px;
  margin-left: 1em;
  font-size: 2em;
}

.container {
  padding: 1em;
  border-bottom: 1px solid #e9e9e9;
}

#property-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.property {
  padding: 1em;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
}
