!!!
%html
  %head
    %title Dairbnb
    %link{href: "app/stylesheets/main.css", rel: "stylesheet", type: "text/css"}
    %script{src: "app/javascript/web3.js-0.20.6/dist/web3.js"}
    %script{src: "/node_modules/truffle-contract/dist/truffle-contract.js"}

  %body
    %nav
      %span.brand Dairbnb

    %section.container
      %label Name
      %input#property-name
      %label Price
      %input#property-price
      %button#create-property Create Property

    %section.container
      %h2 My Properties
      %div#property-list

    %section.container
      %h2 Browse Properties
      %div#property-list
      %label Property
      %input#property-id
      %button#request-property Request Property

    %script{src: "/app/javascript/main.js"}
