!!!
%html
  %head
    %title Dairbnb
    %script{src: "app/javascript/web3.js-0.20.6/dist/web3.js"}
    %script{src: "/node_modules/truffle-contract/dist/truffle-contract.js"}

  %body
    %nav Dairbnb
    %section.container
      %button#create-property Create Property

    %script{src: "/app/javascript/main.js"}
